pandas
requests
beautifulsoup4
fastapi
jinja2
langchain
langchain-openai
langchain-community
chromadb
openai
uvicorn
sqlalchemy
alembic
psycopg2-binary
pytest
pytest-asyncio
playwright
pytest-playwright
pytest-html
deepeval
presidio-analyzer
presidio-anonymizer
spacy
httpx
pre-commit
ruff
passlib
bcrypt==4.0.1
python-jose
python-multipart
celery[redis]
