pandas
requests
beautifulsoup4
fastapi
jinja2
uvicorn
matplotlib
seaborn
sqlalchemy
alembic
psycopg2-binary
google-cloud-storage
google-cloud-bigquery
pytest
pytest-asyncio
httpx
pre-commit
ruff
passlib
bcrypt==4.0.1
python-jose
python-multipart
